*{
    font-family: "Poppins", sans-serif;
}
body{
    /* background-color: #F0EAD6; */
    background: linear-gradient(135deg, #f3e9d2, #e8dbc1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0 0 15px #544D53);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 75vh;
    text-align: center;
    /* margin-top: auto; */
    margin: 5%;
}
.he{
    text-align: left;
    margin-bottom: 0vh;
    font-weight: 600;
}
img{
    margin-bottom: -4vh;
    /* margin-top: 2vh; */
}
h1{
    margin-bottom: -2vh;
}
h4{
    font-weight: 300;
}
.EPNAME input{
    background: transparent;
    width: 18vw;
    height: 4vh;
    margin-left: -0vw;
    border-radius: 8px;
    border: 2px solid grey;
    color: black;
}
.EPUSER input{
    background: transparent;
    width: 18vw;
    height: 4vh;
    margin-left: -0vw;
    border-radius: 8px;
    border: 2px solid grey;
    color: black;
}
.epass input{
    background: transparent;
    width: 18vw;
    height: 4vh;
    margin-left: -0vw;
    border-radius: 8px;
    border: 2px solid grey;
    color: black;
    
}
.epemail input{
    background: transparent;
    width: 18vw;
    height: 4vh;
    margin-left: -0vw;
    border-radius: 8px;
    border: 2px solid grey;
    margin-bottom: 3vh;
    color: black;
}
button{
    width: 18vw;
    height: 5vh;
    border-radius: 8px;
    background-color: #544D53;
    color: white;
}
.already{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: rgb(69, 138, 161);
}
a:hover{
    text-decoration: underline;
    transition: all 0.3s ease-in;
}


